[submodule "ohmyzsh-custom/plugins/zsh-z"]
	path = ohmyzsh-custom/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule "dotfiles-private"]
	path = dotfiles-private
	url = git@github.com:kmutahar/dotfiles-private
[submodule "config/cheat/cheatsheets/community"]
	path = config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets.git
